body{
    background-color: rgb(226, 226, 226);
    color: rgb(250, 250, 250);
}
h1{
    color: rgb(193, 204, 43);
    }
    p {
        
      text-align:center;
      margin: left 20px;
    }
section{
    background: rgb(0, 0, 0);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;